{% extends "base.html" %}
{% block head %}
    <title>Dashboard</title>
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}
{% block body %}
    <div class="user-info">
        <img src="{{ url_for('static',filename='profile_pics/' + current_user.profile_image) }}" alt="{{ user.name }}'s Profile Image">
        <h2>{{ user.name }}</h2>
        <p>Email: {{ user.email }}</p>
    </div>
    <div class="create-article">
        <h3>Create New Article</h3>
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.title.label }} {{ form.title(size=32, class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.subtitle.label }} {{ form.subtitle(size=32, class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.category.label }} {{ form.category(size=32, class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.image.label }} {{ form.image(size=32, class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.content.label }} {{ form.content(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}