{% extends "base.html"%}
{% block head %}
    <title>Login</title>
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}
{% block body %}
    <div class="wrapper">
        <h2>Registration</h2>
        <form action="#">
            <div class="input-box">
                <input type="text" placeholder="Enter your email" required>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Enter your password" required>
            </div>
            <div class="input-box button">
                <input type="Submit" value="Register Now">
            </div>
            <div class="text">
                <h3>Don't have an account? <a href="{{ url_for('signup') }}">Signup now</a></h3>
            </div>
        </form>
    </div>
{% endblock %}