{% extends "base.html"%}
{% block head %}
    <title>Blog Website</title>
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/main.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}
{% block body %}
    <!-- Header -->
    <header>
        <!-- Nav -->
        <div class="nav container">
        <!-- Logo -->
            <a href="" class="logo">Put<span>forth</span></a>
            <!-- Profile Dropdown -->
            {% if is_logged_in%}
                <div class="profile-dropdown">
                    <img src="{{ url_for('static',filename='profile_pics/' + current_user.profile_image) }}" alt="" class="profile-img" onclick="toggleDropdown()">
                    <div class="dropdown-content" id="dropdownContent">
                        <a href="{{ url_for('dashboard') }}">Profile</a>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </div>
            <!-- Login Btn -->
            {% else%}
                <a href="{{ url_for('login') }}" class="login">Login</a>
            {% endif%}
        </div>
    </header>
    <!-- Home -->
    <section class="home" id="home">
        <div class="home-text container">
            <h2 class="home-title">The Putforth Blog</h2>
            <span class="home-subtitle">Your source of great content</span>
        </div>
    </section>
    <!-- Post Filter -->
    <div class="post-filter container">
        <span class="filter-item active-filter" data-filter="all">All</span>
        <span class="filter-item" data-filter="design">Design</span>
        <span class="filter-item" data-filter="tech">Tech</span>
        <span class="filter-item" data-filter="mobile">Mobile</span>
    </div>
    <!-- Posts -->
    <section class="post container">
        <!-- Post Box 1 -->
        {% for post in posts %}
            <div class="post-box {{ post.category }}">
                <img src="{{ url_for('static',filename='article_pics/' + post.image) }}" alt="" class="post-img">
                <h2 class="category">{{ post.category }}</h2>
                <a href="{{ url_for('post', post_id=post.id) }}" class="post-title">
                    {{ post.title }}
                </a>
                <span class="post-date">{{ post.date.strftime('%d %b, %Y') }}</span>
                <p class="post-description">{{ post.content }}</p>
                <!-- Profile -->
                <div class="profile">
                    <img src="{{ url_for('static', filename='profile_pics/' + post.author.profile_image) }}" alt="" class="profile-img">
                    <span class="profile-name">{{ post.author.name }}</span>
                </div>
            </div>
        {% endfor %}
    </section>
    <!-- Footer -->
    <div class="footer container">
        <p>&#169; Putforth All Rights Reserved</p>
        <div class="social">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div>
    </div>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- Link to JS-->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

<!-- This is my Homepage -->