{% extends "base.html"%}
{% block head %}
    <title>Post Page</title>
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/main.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}
{% block body %}
    <!-- Header -->
    <header>
        <!-- Nav -->
        <div class="nav container">
        <!-- Logo -->
            <a href="" class="logo">Put<span>forth</span></a>
            <!-- Login Btn -->
            <a href="" class="login">Login</a>
        </div>
    </header>
    <!-- Post Content  -->
    <section class="post-header">
        <div class="header-content post-container">
            <!-- Back to Home  -->
            <a href="" class="back-home">Back To Home</a>
            <!-- Title -->
            <h1 class="header-title">How To Create Best UX Design With Adobe XD</h1>
            <!-- Post image  -->
            <img src="{{url_for('static', filename='img/post-1.jpg')}}" alt="" class="header-img">
        </div>
    </section>
    <!-- Posts -->
    <section class="post-content post-container">
        <h2 class="sub-heading">Create Best UI Design</h2>
        <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam pariatur sapiente necessitatibus, totam assumenda nisi expedita cupiditate consequuntur earum facilis sunt sint omnis, quia laudantium maiores beatae placeat distinctio ipsum a fugit accusamus quod molestias autem! Dolor explicabo distinctio numquam fugit. Quibusdam illum corporis nulla?</p>
    </section>
    <!-- Share  -->
    <div class="share post-container">
        <span class="share-title">Share this post</span>
        <div class="social">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div>

    </div>
    <!-- Footer -->
    <div class="footer container">
        <p>&#169; Putforth All Rights Reserved</p>
        <div class="social">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div>
    </div>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- Link to JS-->
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
{% endblock %}